.banner{
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(6 8 110));
    padding: 80px;
    background: url(../images/hero-left.svg) left top / auto 100% no-repeat scroll padding-box border-box, 
    url(../images/hero-right.svg) right top / auto 100% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(6 8 110)) 0% 0% / auto repeat scroll padding-box border-box rgb(0, 101, 255);
        background-blend-mode: normal, normal, normal;
        color: rgb(255, 255, 255);
    
}