.create-task{
    background: rgb(6 8 110) !important;
    border: none !important;
    width: 200px !important;
  }

  .label-form{
    width: 130px;
  }
  .task-edit{
    position: absolute;
    top:10px;
    transform: translate(60%, 20%);
    display: flex;
      flex-direction: column;
      margin: 0px auto;
      justify-content: center;
      width: 400px;
      height: 500px;
      padding: 32px 40px;
      background: rgb(255, 255, 255);
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
      box-sizing: border-box;
      color: var(--ds-text-subtle, #42526E);
  }
  .task-form{
    position: absolute;
      margin: auto;
     z-index: 99999;
   
      transform: translate(60%, 0%);
      display: flex;
      flex-direction: column;
      margin: 0px auto;
      justify-content: center;
      width: 500px;
     
      padding:  40px;
      background: rgb(255, 255, 255);
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
      box-sizing: border-box;
      color: var(--ds-text-subtle, #42526E);
  }
  .login-section,.register-section{
    min-height: calc(100% - 100px);
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      margin: 50px 0px;
  }
  .login-form,.register-form{
    display: flex;
      flex-direction: column;
      margin: 0px auto;
      justify-content: center;
      width: 400px;
      height: 500px;
      padding: 32px 40px;
      background: rgb(255, 255, 255);
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
      box-sizing: border-box;
      color: var(--ds-text-subtle, #42526E);
  }