.Main_section{
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(6 8 110));
    padding: 120px;
   
}
.main_img{
    width: 85%;
    display: block;
    margin: 0 auto;
    opacity: 0; /* Start with the image hidden */
    transform: scale(0.9); /* Scale down the image */
    animation: fadeInScale 1s forwards; /* Apply the animation */
}


@keyframes fadeInScale {
    to {
        opacity: 1; /* Fade in to full opacity */
        transform: scale(1); /* Scale up to full size */
    }
}

@media screen and (max-width: 767px) {
.Main_section{
    padding: 20px;
}
}
