@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype') !important;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Nunito' !important;
}
.alert-text{
  color:red;
}

.icon-card{

    border-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 8px;
    height: 3rem !important;
    width: 3rem !important;
    margin: 12px;;
}
.login-section,.register-section{
  min-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 50px 0px;
}
.login-form,.register-form{
  display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    width: 400px;
    height: 500px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-sizing: border-box;
    color: var(--ds-text-subtle, #42526E);
}
@media screen and (max-width: 600px) {
  .custom-card{
    margin: 6px 0;
  }
  
  }