/* Font Face */
@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Global Styles */
body {
  font-family: 'Nunito', sans-serif !important; /* Added fallback font */
  scroll-behavior: smooth;
}

/* Alert Styles */
.alert-text {
  color: red;
}

/* Background Styles */
.footer-bg,
.sidebar-bg {
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(6, 8, 110));
}

/* Card Styles */
.icon-card {
  border: 8px solid rgb(255, 255, 255);
  border-radius: 0.5rem;
  height: 3rem;
  width: 3rem !important;
  margin: 12px;
}

.login-section,
.register-section {
  min-height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0;
}

/* Form Styles */
.task-form,
.login-form,
.register-form,
.task-edit {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 500px; /* Default width */
  padding: 40px; /* Default padding */
  background: rgb(255, 255, 255);
  border-radius: 12px; /* Default border radius */
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  box-sizing: border-box;
  color: var(--ds-text-subtle, #42526E);
}

/* Specific form styles */
.login-form,
.register-form {
  width: 400px;
  height: 500px;
  padding: 32px 40px;
}

.task-edit {
  transform: translate(60%, 20%);
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .custom-card {
    margin: 6px 0;
  }
}
.sub-text{
  text-align: justify;
}
/* Sidebar Styles */
.sidebar {
  min-height: 100vh;
  width: 250px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sidebar .top {
  padding-bottom: 10px;
}

.sidebar .brand span {
  font-size: 1.2em;
  font-weight: bold;
}

.sidebar .nav-link {
  color: #343a40;
  padding: 10px;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

/* Drag Card Styles */
.drag-card {
  padding: 10px;
  margin: 5px 0;
  background-color: #e3e1ee;
  cursor: move;
  height: 187px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px hsla(220, 6%, 90%, 0.66), 0 0 8px rgba(228, 231, 236, 0.3);
  border-radius: 14px;
}

/* Board Layout */
.board-layout {
  border: 2px dashed grey;
  margin: 6px;
  border-radius: 12px;
  min-height: 100vh;
}

/* Label Form */
.label-form {
  width: 100px;
}

/* Reason Section */
.reason-section {
  padding: 80px;
  background: linear-gradient(rgb(222, 235, 255), rgb(255, 255, 255)) no-repeat;
}

.manage-section {
  padding: 80px;
}

/* Animation Styles */
.circular-animation {
  animation: rotate 10s linear infinite;
  display: block;
  margin: 0 auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
